h1 {
    font-family: "Helvetica Neue", "Source Sans Pro";
    font-size: calc(0.1em + 5vw);
    font-style: normal;
    font-variant: norm;
    font-weight: bold;
}

.chartTitle {
    font-family: "Helvetica Neue", "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color:#000000;
    line-height: 16px;
}

h2 {
    font-family: "Helvetica Neue", "Source Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 30px;
}

h3 {
    font-family: "Helvetica Neue", "Source Sans Pro";
    font-size: calc(0.4em + 1.1vw);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

h4 {
    font-family: "Helvetica Neue", "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 18px;
}

h5 {
    font-family: "Helvetica Neue", "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color:#919191;
    line-height: 16px;
}

h6 {
    font-family: "Helvetica Neue", "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 18px;
}

p {
    font-family: "Helvetica Neue", "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18px;
}

blockquote {
    font-family: "Helvetica Neue", "Source Sans Pro";
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Helvetica Neue", "Source Sans Pro";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18px;
}

a { color: inherit; } 

a:hover{
    color:inherit; 
    text-decoration:none; 
    cursor:pointer;  
}

.jumbotron {
    border-radius: 32px;
    padding: 20px;
    background-color: #F7F7F7;
}

.topbar {
    margin-bottom: 70;
    margin-top: 80;
}
#hellobar-bar {
    font-family: "Helvetica Neue", "Source Sans Pro";
    width: 100%;
    margin: 0;
    height: 30px;
    display: none;
    font-size: 17px;
    font-weight: 400;
    padding: .33em .5em;
    color: #5c5e60;
    position: static;
    background-color: black;
    z-index: 1;
}
#hellobar-bar.regular {
    height: 30px;
    font-size: 14px;
    padding: .2em .5em;
}
.hb-content-wrapper {
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.hb-content-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
}
.hb-text-wrapper {
    margin-right: .67em;
    display: inline-block;
    line-height: 1.3;
}
.hb-text-wrapper .hb-headline-text {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
}
#hellobar-bar .hb-cta {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    color: black;
    background-color: white;
    border-color: white;
}
.hb-cta-button {
    opacity: 1;
    color: #fff;
    display: block;
    cursor: pointer;
    line-height: 1.5;
    max-width: 22.5em;
    text-align: center;
    position: relative;
    border-radius: 3px;
    white-space: nowrap;
    margin: 1.75em auto 0;
    text-decoration: none;
    padding: 0;
    overflow: hidden;
}
.hb-cta-button .hb-text-holder {
    border-radius: inherit;
    padding: 5px 15px;
}
.hb-close-wrapper {
    display: table-cell;
    width: 1.6em;
}
.hb-close-wrapper .icon-close {
    font-size: 14px;
    top: 15px;
    right: 25px;
    width: 15px;
    height: 15px;
    opacity: .3;
    color: #000;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 15px;
    z-index: 1000;
    text-decoration: none;
}
.blinking {
-webkit-animation: 3s blink ease infinite;
-moz-animation: 3s blink ease infinite;
-ms-animation: 3s blink ease infinite;
-o-animation: 3s blink ease infinite;
animation: 3s blink ease infinite;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 35px;
height: 0;
overflow: hidden;
}
.video-container iframe {
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}

a.invisible{
display:none;
}

#darkTwitter {
    display: none;
}

#lightTwitter {
    display: block;
}

.darkTwitter {
    display: none;
}

.lightTwitter {
    display: block;
}

@keyframes "blink" {
from, to {
    opacity: 0;
}
50% {
    opacity: 1;
}
}

@-moz-keyframes blink {
from, to {
    opacity: 0;
}
50% {
    opacity: 1;
}
}

@-webkit-keyframes "blink" {
from, to {
    opacity: 0;
}
50% {
    opacity: 1;
}
}

@-ms-keyframes "blink" {
from, to {
    opacity: 0;
}
50% {
    opacity: 1;
}
}

@-o-keyframes "blink" {
from, to {
    opacity: 0;
}
50% {
    opacity: 1;
}
}

.row-fluid{
    white-space: nowrap;
}
.row-fluid .col-xs-3{
    display: inline-block;
}
.col-xs-3 {font-size: 48px; border-radius: 16px; padding: 2%; background-color: #F7F7F7; width: 270px;}

@media only screen and (min-width: 1100px) {
h1 {
    font-size: 50px;
}
h3 {
    font-size: 0.2em;
}
.col-xs-3 {width: 300px;padding: 15px}
}

@media (prefers-color-scheme: dark) {
    html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    }

    ::-webkit-scrollbar { width: 8px; height: 3px;}
    ::-webkit-scrollbar-button {  background-color: #666; }
    ::-webkit-scrollbar-track {  background-color: #646464;}
    ::-webkit-scrollbar-track-piece { background-color: #000;}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
    ::-webkit-scrollbar-corner { background-color: #646464;}
    ::-webkit-resizer { background-color: #666;}

.chartTitle {
    color:#FFFFFF;
}

#darkTwitter {
    display: block;
}

#lightTwitter {
    display: none;
}

.darkTwitter {
    display: block;
}

.lightTwitter {
    display: none;
}
body{
  background-color: #1f2125;
}
.hb-close-wrapper .icon-close {
    font-size: 14px;
    top: 15px;
    right: 25px;
    width: 15px;
    height: 15px;
    opacity: .3;
    color: #000;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 15px;
    z-index: 1000;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
  color: #dddddd;
}

.col-xs-3, .col-xs-6 {
    background-color: #323232;
}

.jumbotron {
    background-color: #323232;
}

#hellobar-bar {
    font-family: "Helvetica Neue", "Source Sans Pro";
    width: 100%;
    margin: 0;
    height: 30px;
    display: none;
    font-size: 17px;
    font-weight: 400;
    padding: .33em .5em;
    color: #5c5e60;
    position: static;
    background-color: #323232;
    z-index: 1;
}
#hellobar-bar .hb-cta {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    color: black;
    background-color: white;
    border-color: white;
}
.hb-cta-button {
    opacity: 1;
    color: #fff;
    display: block;
    cursor: pointer;
    line-height: 1.5;
    max-width: 22.5em;
    text-align: center;
    position: relative;
    border-radius: 3px;
    white-space: nowrap;
    margin: 1.75em auto 0;
    text-decoration: none;
    padding: 0;
    overflow: hidden;
}
:root{
scrollbar-color: #0079D3 #2E3645 !important;
scrollbar-width: thin !important;
}

* {
scrollbar-width: thin !important;
}

.modal-content { 
background-color: #1f2125;
}

}

.modal { 
position: fixed; 
top: 3%; 
right: 3%; 
left: 3%; 
width: auto; 
text-align: center;
}
.modal-dialog {
width: 90%;
}
.chart {
align-content: center;
display: block;
justify-content: center;
}
.modal-body { 
padding: 15px; 
overflow-y: hidden; 
-webkit-overflow-scrolling: touch; 
}
.img-fluid {
max-width: 100%;
height: auto;
}